---
import { map } from "astro:schema";

const Feature = [
    { "title": "Curso Gratis",  "tag" : "Primer Paso" ,"img" : "/images/Featured.png" , "description": "Explora nuestro Curso Gratuito de Strategy Quant X y Trading Algoritmico, donde te convertiras en un algotrader casi experto." , "href" : "https://www.youtube.com/watch?v=KlhsbeHA3FI&list=PLfMTfnWgZcFXD6OghVuWjSYUgsOwpwijP" },
    { "title": "Mi Proceso", "tag" : "Segundo Paso" , "img" : "/images/Backtest.png" , "description": "Para lograr Automatizar tu Estrategia, te presento mi proceso de desarrollo, donde ademas de aprender el paso a paso de mi Custom Project, tambien tendras..." },
];

---

<div class="flex flex-col gap-12 xl:gap-16">
    {
        Feature.map((feature, index) => (
            <div class={`flex flex-col gap-6 text-center md:flex-row md:items-center xl:justify-center ${index % 2 !== 0 ? 'md:flex-row-reverse' : ''}`}>
                <div class="md:w-3/5 xl:px-12 2xl:w-2/4">
                    <div class="inline-block mb-3">
                        <p class="bg-tag text-sm text-violet-500 font-semibold py-2 px-4 rounded-xl 2xl:text-lg">{feature.tag}</p>
                    </div>
                    <div class="mb-4">
                        <h2 class="text-4xl font-bold xl:text-5xl 2xl:text-6xl">{feature.title}</h2>
                    </div>
                    <div>
                        <p class="xl:text-lg 2xl:text-xl 2xl:mb-10">{feature.description}</p>
                    </div>
                    {
                        feature.href && (
                        <div class="my-4">
                                <a class="color_button px-16 py-3 rounded-md text-white" href={feature.href} target="_blank" rel="noopener noreferrer">Ver</a>
                        </div>
                        )
                    }
                </div>
                <div class=" xl:w-5/12">
                    <div>
                        <img class="rounded-xl shadow-card md:w-96 md:h-72 xl:h-80 xl:w-full" src={feature.img} alt={feature.title} />
                    </div>
                </div>
            </div>
        ))
    }
</div>

<style>
    .bg-tag {
        background-color: #6121af1c;
    }

.shadow-card {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }


    .color-tag {
        color: #2a289e ;
    }

.color_button {
        background-color: #5003ddf6;
    } 

</style>