---
// Configuración de los planes
const plans = [
   /* { 
        title: 'PERSONALIZADO SIMPLE', 
        description: 'Para sistemas mas simples', 
        price: '$350 - $700 /',
        href: '/Formulario',
        payment_options: 'Pago Mensual',
        buttonText: 'Lo Quiero!',
        features: [
            { name: 'Bot de Trading', available: true },
            { name: 'Instrucciones de uso', available: true },
            { name: 'Acceso a comunidad', available: true },
            { name: '20% beneficio en broker', available: true },
            { name: 'Soporte 1-1', available: true },
            { name: 'Cursos introductorios', available: false },
            { name: 'VIP comunidad', available: false },
        ]
    },*/
    { 
        title: 'BOT Personalizado', 
        description: 'Para automatizar tu estrategia', 
        description2: 'de $300 a $1500 aprox', 
        price: '$ Cotizar /',
        href: '/Formulario',
        payment_options: 'Pago Único',
        buttonText: 'Adquirir',
        features: [
            { name: 'Bot de Trading', available: true },
            { name: 'Instrucciones de uso', available: true },
            { name: 'Acceso a comunidad', available: true },
            { name: '20% beneficio en broker', available: true },
            { name: 'Soporte 1-1', available: true },
            { name: 'Cursos introductorios', available: true },
            { name: 'VIP comunidad', available: true },
        ]
    },
];
---

<div id="plans" class="flex flex-col mb-6 2xl:gap-6">
    <div class="flex flex-col text-center mt-14">
        <h2 class="text-3xl font-bold bg-tittle 2xl:text-5xl">NUESTRO PLAN</h2>
    </div>
    <div 
        class={`mt-6 2xl:mx-52 ${plans.length === 1 ? 'flex justify-center items-center' : 'grid grid-cols-1 gap-6 md:grid-cols-2 2xl:gap-20'}`}
    >
        {plans.map((plan) => (
            <div class="flex flex-col justify-center items-center text-left gap-6 border border-gray-300 shadow-md py-6 px-4 rounded-xl xl:gap-12 xl:px-12 xl:py-11 relative">
                <div class="absolute -top-7 left-1/2 transform -translate-x-1/2 2xl:-top-10">
                    <img class="w-16 2xl:w-20" src="/images/LogoTradiun.png" alt="">
                </div>
                <h3 class="font-extrabold text-2xl xl:text-3xl">{plan.title}</h3>

                <p class="font-bold text-4xl">{plan.price}</p>
                <p>{plan.description}</p>
                <div>
                    <p class="font-bold mb-4">Nuestro plan incluye:</p>
                    <ul>
                        {plan.features.map((feature) => (
                            <li>
                                {feature.available ? '✅' : '❌'} <span>{feature.name}</span>
                            </li>
                        ))}
                    </ul>
                </div>
                <div class="text-center">
                    <a class="px-12 py-2 color_button hover:bg-blue-600 rounded-md text-white" href={plan.href} target="_blank" onclick="fbq('track', 'Lead', { button_name: plan.buttonText });" rel="noopener noreferrer">{plan.buttonText}</a>
                </div>
            </div>
        ))}
    </div>
</div>

<style>
    .shadow-card {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .color_button {
        background-color: #5003ddf6;
    } 

    .bg-tittle {
        background-image: linear-gradient(90deg, #8d2aff 0%, #270255 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    /* Centrar la tarjeta si solo hay una */
    .flex.justify-center.items-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
